<div class="column">
        <div class="card">
            <div class="image">

                    <div class="content">
                        <a href="/deleteimage/{{public_id}}"><i class="large red trash alternate outline icon"></i></a>
                    </div>
            </div>
            <img class="ui medium bordered fluid image" src="{{url}}">
        </div>
    </div>
</div>


