<div class="section">
    <h1 style="color: olive">
        You have {{friends.length}} Friends
    </h1>
    <div class="ui link cards">
{{#each friends }}
        {{>friend_card}}
    <div>
        <form class="ui form" action="/friends/removeFriend/{{@root.user._id}}/{{_id}}" method="POST">
            <button class="ui large negative button">
                <i class="user minus icon"></i>
                Unfriend
            </button>
        </form>
    </div>
</div>
{{/each}}

</div>
