<nav class="ui inverted borderless olive menu">
    <header class="header item"><h3><img src="./images/walkways-logo.png" width="25%" height="25%"> </h3></header>
    <div class="right menu">
        <a id="home" class="item" href="/guest_view" data-tooltip="List of Walkways"
           data-position="bottom center"><i class="big map marked alternate icon"></i></a>
        <a id="settings" class= "item" href="/signup" data-tooltip="Sign Up"
           data-position="bottom center"><i class="big user plus icon"></i></a>
        <a id="addPOI" class= "item" href="/login" data-tooltip="Sign In"
           data-position="bottom center"><i class="big sign in alternate icon"></i>
        </a>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>