<table class="ui stackable table">
    <tbody>
    <tr>
        <td><button class="ui large fluid violet icon button">
            <i class="github icon"></i> Log in with GitHub
        </button></td>
    </tr>
    </tbody>
</table>

<!-- <td><button class="ui large facebook button">
            <i class="facebook f icon"></i> Log in with Facebook
        </button></td>

        <td><button class="ui large red icon button">
            <i class="google icon"></i> Log in with Google
        </button></td> -->
