<table class="ui stackable table">
    <tbody>
    <tr>
        <td><button class="ui large fluid violet icon button">
            <i class="github icon"></i> Sign up using GitHub
        </button></td>
        <td><button class="ui large pink fluid icon button">
            <i class="user secret icon"></i> Continue as Guest
        </button></td>
<!--
        <td><button class="ui large facebook button">
            <i class="facebook f icon"></i> Sign Up with Facebook
        </button></td>

        <td><button class="ui large red icon button">
            <i class="google icon"></i> Sign Up with Google
        </button></td> -->
    </tr>
    </tbody>
</table>