<table class="ui stackable table">
    <tbody>
    <tr>
        <td><button class="ui large violet icon button">
            <i class="github icon"></i> Sign up with GitHub
        </button></td>

        <td><button class="ui large facebook button">
            <i class="facebook f icon"></i> Sign Up with Facebook
        </button></td>

        <td><button class="ui large red icon button">
            <i class="google icon"></i> Sign Up with Google
        </button></td>
    </tr>
    </tbody>
</table>