<h1>Gallery for {{trail.trailname}}</h1>
<br>
<div class="ui stackable four column grid">
    <div class="ui cards">
        {{#each images}}
            {{> card}}
        {{/each}}
         <br>
    </div>
</div>

