<form class="ui form" action="/friends/share/{{_id}}" method="POST">
    <button class="ui large inverted olive button" style="margin-bottom: 10px; color: #800542">
        <i class="share square icon"></i>
        Share
    </button>
</form>