<nav class="ui inverted borderless olive fixed  secondary menu" style="overflow: hidden;width: 100%;top: 0; z-index: 101;
margin-left: auto; margin-right: auto; border-radius: 0">
    <div class="left menu">
        <div class="item">
            <a href="/"><img class="ui image" src="./images/walkways-logo.png" width="217px" height="34px"></a>
        </div>
    </div>
    <div class="right menu">
        <div class="item">
            <table>
                <tbody>
                <tr>
                    <p></p>
                </tr>
                <tr>
                    <a href="/login">Log In Using Existing Account</a>
                </tr>
                <tr>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</nav>

<script>
    $("#{{_id}}").addClass("active item");
</script>
