
<div class="ui grid">
        <div class="ui column">
            <div class="ui stacked fluid form segment" style="background: #93BD09">
                <form action="/signup" method="POST" id="signup">
                    <h1 class="ui header" style="font-size: 250%">Create a New Account</h1>
                    <h3>It's quick and easy.</h3>
                    <div class="two fields">
                        <div class="field {{#if errorz.firstName}}error{{/if}}">
                            <label>First Name</label> <input value="{{values.firstName}}" type="text" name="firstName"/>
                        </div>
                        <div class="field {{#if errorz.lastName}}error{{/if}}">
                            <label>Last Name</label> <input value="{{values.lastName}}" type="text" name="lastName"/>
                        </div>
                    </div>
                    <div class="field {{#if errorz.email}}error{{/if}}">
                        <label>Email</label>
                        <input value="{{values.email}}" type="text" name="email"/></div>
                    <div class="required field {{#if errorz.new_password}}error{{/if}}">
                        <label>Password</label>
                        <input type="password" name="new_password" id="new"required>
                    </div>
                    <div class="required field {{#if errorz.confirm_password}}error{{/if}}">
                        <label>Confirm Password</label>
                        <input type="password" name="confirm_password" id="confirm" required>
                    </div>
                    <div class="ui small checkbox">
                        <input type="checkbox" name="showpassowrds" onclick="togglePassword()">
                        <label>Show Passwords</label>
                    </div>
                    <div class="ui success message">
                        <div class="header">Form Completed</div>
                        <p>You're all signed up for the newsletter.</p>
                    </div>
                    <div>
                        <br><button class="ui submit button" style="background: #cb3232;color: whitesmoke"> Sign Up</button>
                    </div>
                </form>
                {{> error}}
            </div>
            {{>oauth-signups}}
        </div>

    </div>

<script>
    function togglePassword() {
        var x = document.getElementById("new");
        var y = document.getElementById("confirm");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        if (y.type === "password") {
            y.type = "text";
        } else {
            y.type = "password";
        }
    };

</script>






<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_toggle_password -->

