{{> mainmenu _id="friends" }}

<section class="ui raised segment" style="margin-top: 65px; margin-right: 5px">
    {{>friend_requests}}
</section>

<section class="ui raised segment">
    {{>friendsList}}
</section>