{{> mainmenu _id="friends" }}

<section class="ui raised segment" style="margin-top: 65px">
    {{>friend_requests}}
</section>

<section class="ui raised segment">
    {{> friends_pending}}
</section>

<section class="ui raised segment">
    {{>friendsList}}
</section>