{{> mainmenu _id="friends" }}

<section class="ui raised segment" style="margin-top: 65px; margin-right: 5px">
    <h1> Welcome {{ user.firstName }} {{ user.lastName }} </h1>

{{>friendsList}}
</section>