{{> mainmenu _id="home" }}

<section class="ui raised segment" style="margin-top: 65px; padding: 0px; border: #FFFFFF">
    <h1> Welcome {{ user.firstName }} {{ user.lastName }} </h1>
    <h3> All Current WALKWAYS</h3>

    {{> traillist}}
</section>

