{{> welcomemenu }}

<section class="ui stacked segment">
        <div class="ui grid">
            <aside class="ten wide column">
                <h4 style="font-size: 130%">Sign Up to experience the Walkways around the Emerald Isle.</h4>
                <img src="images/hike.png" class="ui big image">
                <br>
                <table class="ui very basic table" style="font-size: 130%">
                    <tr>
                        <td>
                            <i class="large olive photo video icon"></i> <b>See photos and updates</b> from friends in News Feed.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="large olive share alternate icon"></i> <b>Share</b> what's new in your trail life on your Timeline.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="large olive search location icon"></i> <b>Find</b> more of what you're looking for with Walkways Search.
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <i class="large olive comment outline icon"></i> <b>Comment</b> on Walkways that you've roamed and conquered.
                        </td>
                    </tr>
                </table>
            </aside>
            <article class="six wide column">
                {{> sign-up }}
            </article>
        </div>
    </section>
</section>