{{> mainmenu _id="news"}}

<div class="ui raised segment" style="margin-top: 65px">

<h1 style="color: olive">Hello {{user.firstName}}</h1>
    <div class="ui cards">
        {{#each friendEvents}}
            {{{this.event}}}
        {{/each}}
    </div>
</div>


