{{> welcomemenu _id="signup" }}

<section class="ui raised segment">
        <div class="ui grid">
            <div class="ui ten wide column">
                <div class="ui stacked fluid form segment">
                    <form action="/signup" method="POST">
                        <h3 class="ui header">Register</h3>
                        <div class="two fields">
                            <div class="field">
                                <label>First Name</label> <input placeholder="First Name" type="text" name="firstName"/>
                            </div>
                            <div class="field">
                                <label>Last Name</label> <input placeholder="Last Name" type="text" name="lastName"/>
                            </div>
                        </div>
                        <div class="field"><label>Email</label> <input placeholder="Email" type="text" name="email"/></div>
                        <div class="required field">
                            <label>Password</label>
                            <input type="password" name="new_password" id="new"required>
                            <br>
                            <br>
                            <label>Confirm Password</label>
                            <input type="password" name="confirm_password" id="confirm" required>
                            <br>
                            <br>
                            <input type="checkbox" onclick="togglePassword()">Show Passwords
                        </div>
                        <button class="ui green submit button"> Submit</button>
                    </form>
                    {{> error}}
                </div>
            </div>
            <aside class="ui six wide column"><img src="images/family.png" class="ui image"/></aside>
        </div>
    </section>

<script>
    function togglePassword() {
        var x = document.getElementById("new");
        var y = document.getElementById("confirm");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        if (y.type === "password") {
            y.type = "text";
        } else {
            y.type = "password";
        }
    }
</script>

<!-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_toggle_password -->

