{{#if @root.guest._id}}
    {{> guest_menu }}
{{else}}
    {{> mainmenu _id="friends"}}
{{/if}}

<div class="section" style="margin-top: 65px">
    The GUEST IS : {{guest.firstName}}
</div>

{{>userProfile}}